<header>
  <app-main-navigation [sideMenu]="leftSidebar" [shareMenu]="rightSidebar">

  </app-main-navigation>
</header>

<mat-drawer-container style="height: 100%;">
  <mat-drawer position="start" #leftSidebar mode="side" opened="true">

    <div style="margin: 1em auto; text-align: center;">
      <button mat-button routerLink="/">
        <img src="/assets/images/red.png" alt="theredhead" />
      </button>
      <div>
        <button mat-button (click)="rightSidebar.toggle()">
          <app-icon icon="cog-wheel-silhouette" size="16"></app-icon>
        </button>
      </div>
    </div>

    <nav>
      <div *ngFor="let item of navigation.mainMenu" [ngSwitch]="item.label">
        <mat-divider *ngSwitchCase="'-'"></mat-divider>

        <button *ngSwitchDefault mat-menu-item routerLink="{{item.routerLink}}">
          <app-icon style="vertical-align: middle;" [icon]="item.icon" [size]="18"></app-icon>
          {{ item.label }}
        </button>
      </div>
    </nav>
  </mat-drawer>
  <mat-drawer position="end" #rightSidebar mode="side">

    <nav>
        <div *ngFor="let item of navigation.shareMenu" [ngSwitch]="item.label">
          <mat-divider *ngSwitchCase="'-'"></mat-divider>

          <button *ngSwitchDefault mat-menu-item routerLink="{{item.routerLink}}">
            <app-icon style="vertical-align: middle;" [icon]="item.icon" [size]="18"></app-icon>
            {{ item.label }}
          </button>
        </div>
      </nav>

  </mat-drawer>
  <mat-drawer-content style="height: 100%;">
    <mat-card>
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
      <mat-card-footer>

        <button mat-button (click)="leftSidebar.toggle()">left</button>
        <button mat-button (click)="rightSidebar.toggle()">right</button>

      </mat-card-footer>
    </mat-card>

    <footer><div style="display: flex; margin: 1em;"></div></footer>
      <app-site-footer></app-site-footer>
    <br />

  </mat-drawer-content>
</mat-drawer-container>
