    /*
    Flaticon icon font: Flaticon
    Creation date: 05/10/2017 08:53
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-globe-network:before { content: "\f100"; }
.flaticon-002-database-11:before { content: "\f101"; }
.flaticon-003-connect-2:before { content: "\f102"; }
.flaticon-004-database-10:before { content: "\f103"; }
.flaticon-005-cloud-3:before { content: "\f104"; }
.flaticon-006-database-9:before { content: "\f105"; }
.flaticon-007-database-8:before { content: "\f106"; }
.flaticon-008-network:before { content: "\f107"; }
.flaticon-009-connection:before { content: "\f108"; }
.flaticon-010-cloud-2:before { content: "\f109"; }
.flaticon-011-networking-2:before { content: "\f10a"; }
.flaticon-012-database-7:before { content: "\f10b"; }
.flaticon-013-lan-1:before { content: "\f10c"; }
.flaticon-014-speedometer:before { content: "\f10d"; }
.flaticon-015-database-6:before { content: "\f10e"; }
.flaticon-016-database-5:before { content: "\f10f"; }
.flaticon-017-data:before { content: "\f110"; }
.flaticon-018-synchronization:before { content: "\f111"; }
.flaticon-019-database-4:before { content: "\f112"; }
.flaticon-020-web-hosting-2:before { content: "\f113"; }
.flaticon-021-web-hosting-1:before { content: "\f114"; }
.flaticon-022-hosting:before { content: "\f115"; }
.flaticon-023-networking-1:before { content: "\f116"; }
.flaticon-024-landing-page:before { content: "\f117"; }
.flaticon-025-folder:before { content: "\f118"; }
.flaticon-026-networking:before { content: "\f119"; }
.flaticon-027-database-3:before { content: "\f11a"; }
.flaticon-028-database-2:before { content: "\f11b"; }
.flaticon-029-cloud-1:before { content: "\f11c"; }
.flaticon-030-connect-1:before { content: "\f11d"; }
.flaticon-031-connect:before { content: "\f11e"; }
.flaticon-032-lan:before { content: "\f11f"; }
.flaticon-033-database-1:before { content: "\f120"; }
.flaticon-034-database:before { content: "\f121"; }
.flaticon-035-web-hosting:before { content: "\f122"; }
.flaticon-036-server-3:before { content: "\f123"; }
.flaticon-037-server-2:before { content: "\f124"; }
.flaticon-038-cloud:before { content: "\f125"; }
.flaticon-039-server-1:before { content: "\f126"; }
.flaticon-040-server:before { content: "\f127"; }
    
    $font-Flaticon-001-globe-network: "\f100";
    $font-Flaticon-002-database-11: "\f101";
    $font-Flaticon-003-connect-2: "\f102";
    $font-Flaticon-004-database-10: "\f103";
    $font-Flaticon-005-cloud-3: "\f104";
    $font-Flaticon-006-database-9: "\f105";
    $font-Flaticon-007-database-8: "\f106";
    $font-Flaticon-008-network: "\f107";
    $font-Flaticon-009-connection: "\f108";
    $font-Flaticon-010-cloud-2: "\f109";
    $font-Flaticon-011-networking-2: "\f10a";
    $font-Flaticon-012-database-7: "\f10b";
    $font-Flaticon-013-lan-1: "\f10c";
    $font-Flaticon-014-speedometer: "\f10d";
    $font-Flaticon-015-database-6: "\f10e";
    $font-Flaticon-016-database-5: "\f10f";
    $font-Flaticon-017-data: "\f110";
    $font-Flaticon-018-synchronization: "\f111";
    $font-Flaticon-019-database-4: "\f112";
    $font-Flaticon-020-web-hosting-2: "\f113";
    $font-Flaticon-021-web-hosting-1: "\f114";
    $font-Flaticon-022-hosting: "\f115";
    $font-Flaticon-023-networking-1: "\f116";
    $font-Flaticon-024-landing-page: "\f117";
    $font-Flaticon-025-folder: "\f118";
    $font-Flaticon-026-networking: "\f119";
    $font-Flaticon-027-database-3: "\f11a";
    $font-Flaticon-028-database-2: "\f11b";
    $font-Flaticon-029-cloud-1: "\f11c";
    $font-Flaticon-030-connect-1: "\f11d";
    $font-Flaticon-031-connect: "\f11e";
    $font-Flaticon-032-lan: "\f11f";
    $font-Flaticon-033-database-1: "\f120";
    $font-Flaticon-034-database: "\f121";
    $font-Flaticon-035-web-hosting: "\f122";
    $font-Flaticon-036-server-3: "\f123";
    $font-Flaticon-037-server-2: "\f124";
    $font-Flaticon-038-cloud: "\f125";
    $font-Flaticon-039-server-1: "\f126";
    $font-Flaticon-040-server: "\f127";