<p>
  Third party products used on this site:
</p>

<ul>
  <li>
    Using elements from <a href="https://material.angular.io">Angular Material</a>
  </li>
  <li>
    Using Icons by:
    <ul>
      <li>
          <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 		    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" >CC 3.0 BY</a>.
      </li>
      <li>
          <a href="https://www.flaticon.com/packs/communication-92" title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/" 		    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC 3.0 BY</a>
      </li>
    </ul>
  </li>

</ul>
