<h1>This is not the page you're looking for!</h1>
<p>
  There is no page at this address.
</p>
<H2>Most likely, what happend is</H2>
<ul>
  <li>
    Simply that I created a link or button to someplace in my mind that I just haven't had time to build yet. It's not your fault and you probably shouldn't worry too much about it.
  </li>
  <li>
    You typed or followed a link to some a url that I never intended you to visit.
  </li>
  <li>
    Something spooky is going on around here. Not very likely though.
  </li>
</ul>
<p>
  I should probably know which one but I decided not to figure it out just yet.
</p>
