    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:19
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-24-hours-support:before { content: "\f100"; }
.flaticon-24-hours-support-1:before { content: "\f101"; }
.flaticon-24-hours-support-2:before { content: "\f102"; }
.flaticon-automobile-assistant:before { content: "\f103"; }
.flaticon-automobile-with-wrench:before { content: "\f104"; }
.flaticon-cellphone-support:before { content: "\f105"; }
.flaticon-chat-support:before { content: "\f106"; }
.flaticon-chat-support-1:before { content: "\f107"; }
.flaticon-check-list:before { content: "\f108"; }
.flaticon-connected-user:before { content: "\f109"; }
.flaticon-construction-worker:before { content: "\f10a"; }
.flaticon-customer-phone-support:before { content: "\f10b"; }
.flaticon-customer-support-videocall:before { content: "\f10c"; }
.flaticon-electrical-worker:before { content: "\f10d"; }
.flaticon-female-telemarketer:before { content: "\f10e"; }
.flaticon-finance-support:before { content: "\f10f"; }
.flaticon-global-support:before { content: "\f110"; }
.flaticon-job-search:before { content: "\f111"; }
.flaticon-laptop-care:before { content: "\f112"; }
.flaticon-laptop-charging:before { content: "\f113"; }
.flaticon-laptop-settings:before { content: "\f114"; }
.flaticon-laptop-settings-1:before { content: "\f115"; }
.flaticon-male-chat-support:before { content: "\f116"; }
.flaticon-male-telemarketer:before { content: "\f117"; }
.flaticon-mechanic-tools:before { content: "\f118"; }
.flaticon-mechanic-user:before { content: "\f119"; }
.flaticon-mechanical-engineer:before { content: "\f11a"; }
.flaticon-mobile-voice-support:before { content: "\f11b"; }
.flaticon-mouse-settings:before { content: "\f11c"; }
.flaticon-network-administrator:before { content: "\f11d"; }
.flaticon-network-support:before { content: "\f11e"; }
.flaticon-on-time-support:before { content: "\f11f"; }
.flaticon-outgoing-phone-call:before { content: "\f120"; }
.flaticon-pc-administrator:before { content: "\f121"; }
.flaticon-pc-mechanic:before { content: "\f122"; }
.flaticon-phone-support:before { content: "\f123"; }
.flaticon-scientist-with-task:before { content: "\f124"; }
.flaticon-setting-gears:before { content: "\f125"; }
.flaticon-setting-spanner:before { content: "\f126"; }
.flaticon-setting-tools:before { content: "\f127"; }
.flaticon-settings-gear:before { content: "\f128"; }
.flaticon-settings-with-hammer:before { content: "\f129"; }
.flaticon-softtware-engineer:before { content: "\f12a"; }
.flaticon-software-assistant:before { content: "\f12b"; }
.flaticon-specialist-user:before { content: "\f12c"; }
.flaticon-technician-with-glasses:before { content: "\f12d"; }
.flaticon-tools-symbol:before { content: "\f12e"; }
.flaticon-tyre-expert:before { content: "\f12f"; }
.flaticon-user-with-tool:before { content: "\f130"; }
.flaticon-webcam-support:before { content: "\f131"; }
    
    $font-Flaticon-24-hours-support: "\f100";
    $font-Flaticon-24-hours-support-1: "\f101";
    $font-Flaticon-24-hours-support-2: "\f102";
    $font-Flaticon-automobile-assistant: "\f103";
    $font-Flaticon-automobile-with-wrench: "\f104";
    $font-Flaticon-cellphone-support: "\f105";
    $font-Flaticon-chat-support: "\f106";
    $font-Flaticon-chat-support-1: "\f107";
    $font-Flaticon-check-list: "\f108";
    $font-Flaticon-connected-user: "\f109";
    $font-Flaticon-construction-worker: "\f10a";
    $font-Flaticon-customer-phone-support: "\f10b";
    $font-Flaticon-customer-support-videocall: "\f10c";
    $font-Flaticon-electrical-worker: "\f10d";
    $font-Flaticon-female-telemarketer: "\f10e";
    $font-Flaticon-finance-support: "\f10f";
    $font-Flaticon-global-support: "\f110";
    $font-Flaticon-job-search: "\f111";
    $font-Flaticon-laptop-care: "\f112";
    $font-Flaticon-laptop-charging: "\f113";
    $font-Flaticon-laptop-settings: "\f114";
    $font-Flaticon-laptop-settings-1: "\f115";
    $font-Flaticon-male-chat-support: "\f116";
    $font-Flaticon-male-telemarketer: "\f117";
    $font-Flaticon-mechanic-tools: "\f118";
    $font-Flaticon-mechanic-user: "\f119";
    $font-Flaticon-mechanical-engineer: "\f11a";
    $font-Flaticon-mobile-voice-support: "\f11b";
    $font-Flaticon-mouse-settings: "\f11c";
    $font-Flaticon-network-administrator: "\f11d";
    $font-Flaticon-network-support: "\f11e";
    $font-Flaticon-on-time-support: "\f11f";
    $font-Flaticon-outgoing-phone-call: "\f120";
    $font-Flaticon-pc-administrator: "\f121";
    $font-Flaticon-pc-mechanic: "\f122";
    $font-Flaticon-phone-support: "\f123";
    $font-Flaticon-scientist-with-task: "\f124";
    $font-Flaticon-setting-gears: "\f125";
    $font-Flaticon-setting-spanner: "\f126";
    $font-Flaticon-setting-tools: "\f127";
    $font-Flaticon-settings-gear: "\f128";
    $font-Flaticon-settings-with-hammer: "\f129";
    $font-Flaticon-softtware-engineer: "\f12a";
    $font-Flaticon-software-assistant: "\f12b";
    $font-Flaticon-specialist-user: "\f12c";
    $font-Flaticon-technician-with-glasses: "\f12d";
    $font-Flaticon-tools-symbol: "\f12e";
    $font-Flaticon-tyre-expert: "\f12f";
    $font-Flaticon-user-with-tool: "\f130";
    $font-Flaticon-webcam-support: "\f131";