<mat-card>
  <mat-card-title>
    Projects
  </mat-card-title>
  <mat-card-content>

    <p>
      This is an unexhaustive list of things I am working on or have worked on in my spare time. I've linked demo's and sourcecode where available.
    </p>
    <p>
      Most of these projects represent a specific bit of functionality I need to facilitate building my dream product.
      and the slow progress I've made towards it through the past decade or so.
    </p>

    <app-project-list [items]="projects"></app-project-list>

  </mat-card-content>
</mat-card>
