<footer>
  <div style="display: flex; margin: 1em;">
    <span style="flex: 1 1 auto;"></span>

    <div style="display: inline-flex">
      ©
      <a href="https://www.theredhead.nl" style="margin: 0 .6em;">
        <img
          src="/assets/images/theredhead-black-16.png"
          alt="theredhead"
        />
      </a>
      2018, all rights reserved.
    </div>

    <span style="flex: 1 1 auto;"></span>
  </div>

  <div style="display: flex; margin: 1em;">
    <span style="flex: 1 1 auto;"></span>
    <div>
      <a routerLink="/credits">Credits</a>
    </div>
    <span style="flex: 1 1 auto;"></span>
  </div>
</footer>
